<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CSSoapServiceSoap" maxReceivedMessageSize="2147483647" maxBufferSize="20000000" maxBufferPoolSize="20000000" allowCookies="true"  />'\
                <readerQuotas maxDepth="64" maxArrayLength="200000000" maxStringContentLength="200000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://35652.magayacloud.com:3691/Invoke?Handler=CSSoapService" binding="basicHttpBinding" bindingConfiguration="CSSoapServiceSoap" contract="Magaya.Services.CSSoapServiceSoap" name="CSSoapServiceSoap"/>
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="LargeDataHandler">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
