<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--Setting new section to handle IP Filtering-->
    <section name="ipFiltering" type="GIGLS.WebApi.Filters.Configuration.IPFilteringSection, GIGLS.WebApi" />
  </configSections>
  <!--Custom ipFiltering to handle ip address-->
  <ipFiltering>
    <ipAddresses>
      <add address="52.31.139.75" />
      <add address="52.49.173.169" />
      <add address="52.214.14.220" />
    </ipAddresses>
  </ipFiltering>
  <appSettings>
    <add key="emailService:Account" value="azure_bc6e8c48a8b00f7cf48412b5442f246a@azure.com12345" />
    <add key="emailService:Password" value="Agmail20?8$#.212345" />
    <add key="emailService:API_KEY" value="SG.umaMAMzcTkW1I4miiaLp1Q.JAQ6RKk1B3YPwyynb2Y_mOjIxAb1ZrWEEZ8NlRcajzg12345" />
    <add key="emailService:FromEmail" value="info@giglogistics.ng" />
    <add key="emailService:FromName" value="GIG Logistics" />
    <add key="emailService:SendGridTemplateId" value="c7c51f9e-88f3-4c50-b90f-2477a3ac8ce0" />
    <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
    <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
    <add key="PayStackSecret" value="sk_test_75eb63768f05426fa4f4c2ae68cd451dc10b4ac4" />
    <add key="CODpayoutDateStart" value="2019-03-25" />
    <add key="CustomerWeekDate" value="2019-10-07" />    
    <add key="CustomerWeekCount" value="1,5,10,15,20" />

    <add key="AgilityTimeOutVal" value="600000" />
    <add key="isTimeOut" value="true" />
    
    <add key="limit1" value="0" />
    <add key="limit2" value="1" />
    <add key="limit3" value="2" />
    <add key="limitSpan" value="7" />

    <add key="MagayaUrl" value="https://dev.magaya.com/index.php/API" />
    <add key="MagayaUsername" value="Ehioze.Iweka" />
    <add key="MagayaPassword" value="language3447**##" />
    
    <!--Aramex Tracking-->
    <add key="aramex:API_KEY" value="afknakgn;lsrbnr;ekgjrpojgoerna,jvdlsjvbslkbvw" />
    
    <!-- SMS Info-->
    <!--<add key="smsURL" value="https://sms.scriptwall.com.ng/sms/api?action=send-sms" />    
    <add key="smsApiKey" value="a2VrS2ZEZ3VCRmpsckVySXh5aWs=12345" />-->
    <add key="smsURL" value="https://www.ogosms.com/dynamicapi/?username=gigl" />
    <add key="smsURLNet" value="https://www.ogosms.net/dynamicapi/?username=gigl" />
    <add key="smsApiKey" value="language3447****1234" />
    <add key="smsFrom" value="GIGLS" />
    <add key="A11" value="INVALID USERNAME OR PASSWORD" />
    <add key="A12" value="INSUFFICIENT BALANCE" />
    <add key="A13" value="MESSAGE NOT DEFINED " />
    <add key="A14" value="NUMBERS NOT SET " />
    <add key="A15" value="SENDER NOT SET" />
    
    <!--Twilio SMS INFO-->
    <add key="smsService:accountSID" value="AC5d77da3a433ee6b5ecd29a46e2267e5712345" />
    <add key="smsService:authToken" value="f80f5cdbf3300f193f25201fce7fc36512345" />
    <add key="smsService:voicePhone" value="+16093850201" />
    <add key="smsService:voiceData" value="https://handler.twilio.com/twiml/EH9113110c3f62b264d685a4a8b025c805" />

    <!--Google Map API-->
    <add key="DistanceURL" value="https://maps.googleapis.com/maps/api/distancematrix/json?key=" />
    <add key="DistanceApiKey" value="XhRJy8YRE9AITP4eyzNb62n1Hswo9zm/xsWmoXmfCmP9BsJyOsfq3FYU4FG57dCTvkxfU4Z6A8K4BVDnxEEeT78RcTufqkO0r21cDfXBAfI=" />    
    
    <!--<add key="WebApiUrl" value="http://localhost:4288/" />-->
    <add key="WebApiUrl" value="http://localhost/giglsresourceapi/" />
    <!--<add key="WebApiUrl" value="http://giglsresourceapi.azurewebsites.net/" />-->
    <add key="Pickupprice" value="500.00" />
    
    <!--TheTellerNeT-->
    <add key="MerchantId" value="TTM-00000821" />
    <add key="MerchantUsername" value="gig5d8b69d969266" />
    <add key="MerchantKey" value="ZWYwMGQxMDdjNGI4ZTU4MjhiZDMxMjdhZWJiNzE5ODg=" />
    
    <!-- Key For Azure Blob Storage-->
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=agilityblobstorage;AccountKey=NRXf+PLGh6cqI4h2kYGBFR3hedYWzycQxvh3qoiVfR19rs47N7riKIQ3dK56Mc6kUllgC3ZA5Wiufh4UKolo6A==;EndpointSuffix=core.windows.net" />
    
    
  </appSettings>      
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <connectionStrings>
    <!--<add name="GIGLSContextDB" connectionString="Server=giglsserver.database.windows.net;Initial Catalog=GIGLSContextDB_Prod_Copy;Integrated Security=False;User ID=giglsDbRoot@giglsserver.database.windows.net;Password=#godisgood20x#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="GIGLSContextDB" connectionString="Server=.;Initial Catalog=GIGLSContextDB_Prod;Integrated Security=False;User ID=sa;Password=godisgood;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
   <!--<add name="GIGLSContextDB" connectionString="Server=SEGZMO\SQLEXPRESS;Initial Catalog=GIGLSContextDB;Integrated Security=False;User ID=sa;Password=Jehovah1$; " providerName="System.Data.SqlClient" />-->
    <add name="GIGLSContextDB" connectionString="Server=.;Initial Catalog=GIGLSContextDB;Integrated Security=False;User ID=sa;Password=godisgood; " providerName="System.Data.SqlClient"/>
    <!--<add name="GIGLSContextDB" connectionString="Data Source=tcp:giglsserverapi.database.windows.net,1433;Initial Catalog=GIGLSContextDB_dev;User Id=giglsDbRoot@giglsserverapi.database.windows.net;Password=GodisGood#20x;" providerName="System.Data.SqlClient" />-->
    <!--<add name ="GIGLSContextDB" connectionString="Server=DESKTOP-1V3C77L;Initial Catalog=GIGLSContextDB_Prod;Integrated Security=False;User ID=sa;Password=1234567; " providerName="System.Data.SqlClient"/>-->
    <!--<add name ="GIGLSContextDB" connectionString="Server=DESKTOP-U79NOF3\LOLA;Initial Catalog=GIGLSContextDB;Integrated Security=False;User ID=sa;Password=godisgood; " providerName="System.Data.SqlClient"/>-->
    <!--<add name="GIGLSContextDB" connectionString="Server=DESKTOP-U79NOF3\LOLA;Initial Catalog=GIGLSContextDB_Dev;Integrated Security=False;User ID=sa;Password=godisgood; " providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Audit.NET" publicKeyToken="571d6b80b242c87e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>